# Cadenas

In [1]:
s1 = "Parte 1"
s2 = "Parte 2"
print(s1 + " " + s2) #Parte 1 Parte 2

Parte 1 Parte 2

#  Replicación

In [3]:
s = " Hola"
print(s*3) #Hola Hola Hola

 Hola Hola Hola

In [4]:
# Ver si una cadena esta contenida en otra

In [9]:
print("mala" in "Usted es una mala persona")

True

In [10]:
# Longitud de una cadena (por ejemplo para validar ingreso de datos)

In [11]:
print(len("Esta es mi cadena"))

17

In [13]:
milista = ['a', 'b', 'c' , 'd']

In [14]:
print(milista[2])

c

In [18]:
x= "Esta es mi cadena"
print(x[-2])

n

In [19]:
# Métodos String

In [20]:
s = "mi cadena"
print(s.capitalize()) #Mi cadena

Mi cadena

In [21]:
#El método lower() convierte todos los caracteres alfabéticos en minúscula.

s = "MI CADENA"
print(s.lower()) #mi cadena

mi cadena

In [23]:
# El método count() permite contar las veces que otra cadena se encuentra dentro de la primera. 
# Permite también dos parámetros opcionales que indican donde empezar y acabar de buscar.

s = "el bello cuello "
print(s.count("el"))

3

In [24]:
# El método isalnum() devuelve True si la cadena esta formada únicamente por caracteres alfanuméricos, 
# False de lo contrario. Caracteres como @ o & no son alfanumericos.

s = "correo@dominio.com"
print(s.isalnum())

False

In [27]:
# El método isalpha() devuelve True si todos los caracteres son alfabéticos, False de lo contrario.

s = "abcdefg"
print(s.isalpha())

True

In [33]:
# El método strip() elimina a la izquierda y derecha el carácter que se le introduce. 
# Si se llama sin parámetros elimina los espacios. Muy útil para limpiar cadenas.

s = "__abc__"
print(s.strip('_')) #abc

abc

In [34]:
#El método zfill() rellena la cadena con ceros a la izquierda hasta llegar a la longitud pasada como parámetro.

s = "123"
print(s.zfill(5)) #00123

00123

In [36]:
# El método join() devuelve la primera cadena unida a cada uno de los elementos de la lista que se le pasa como parámetro.

s = " , ".join(["1", "2", "3"])
print(s) #1 y 2 y 3

1 , 2 , 3

In [39]:
# El método split() divide una cadena en subcadenas y las devuelve almacenadas en una lista. La división es realizada de acuerdo a el primer parámetro, y el segundo parámetro indica el número máximo de divisiones a realizar.

s = "Python;Java;C;C++;Pascal" 
print(a := s.split(";"))

['Python', 'Java', 'C', 'C++', 'Pascal']

# Formateo de cadenas

In [40]:
# Formateo %

In [42]:
tipo_calculo = "Valor Medio"
valor = 34.7
print ("el resultado de %s es %f" % (tipo_calculo, valor))

el resultado de Valor Medio es 34.700000

In [45]:
print("{:2.3f}".format(123.1415926))

123.142

In [46]:
tipo_calculo = "raíz cuadrada de dos"
valor = 2**0.5
print("el resultado de %s es %.8f" % (tipo_calculo, valor))

el resultado de raíz cuadrada de dos es 1.41421356

In [47]:
# Con esta sintaxis hay que determinar el tipo del objeto:

# %c = str, simple carácter.
# %s = str, cadena de carácter.
# %d = int, enteros.
# %f = float, coma flotante.
# %o = octal.
# %x = hexadecimal.

In [48]:
print("CMS: %s, ¿Activar S o N?: %c" % ("Plone", "S"))
print("N. factura: %d, Total a pagar: %f" % (345, 658.23))
print("Tipo Octal: %o, Tipo Hexadecimal: %x" % (0o27, 0x17))

CMS: Plone, ¿Activar S o N?: S
N. factura: 345, Total a pagar: 658.230000
Tipo Octal: 27, Tipo Hexadecimal: 17